<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All users</title>
</head>
<body>
<h1 align="center">User</h1>
<form align="center" id="add-form" th:action = "@{/}" th:object = "${user}" th:method = "post">
  <div class = "row">
    <label>Name:&nbsp;</label>
    <input type = "text" th:field = "*{firstName}"></input>
    <label>Last Name:&nbsp;</label>
    <input type = "text" th:field = "*{lastName}"></input>
    <label>E-mail:&nbsp;</label>
    <input type = "text" th:field = "*{email}"></input>
  </div>
  <h1></h1>
  <div class = "row">
    <button id = "add" type = "submit">Add user</button>
  </div>
</form>
<h1></h1>
<h1 align="center">Table with existing users in DataBase</h1>
<table border="1" align="center">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Last Name</th>
    <th>E-mail</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tr th:each = "user : ${users}">
    <td>
      <a th:href = "@{/edit/{id} (id = ${user.getId()})}" th:text = "${user.id}"> </a>
    </td>
    <td th:text = "${user.firstName}"></td>
    <td th:text = "${user.lastName}"></td>
    <td th:text = "${user.email}"></td>
    <td>
      <form id="remove-form" th:action = "@{/remove}" th:object = "${user}" th:method = "delete">
        <input type = "hidden" th:value = "*{id}" id = "id" name = "id"></input>
        <div class = "row">
          <button id = "remove" type = "submit">Remove user</button>
        </div>
      </form>
    </td>
  </tr>
  <tbody>
  </tbody>
</table>
</body>
</html>